extends layout

block content
  h1= title
  p Welcome to #{title}, a test for Infinidreams


  form(method='POST' action='' enctype='multipart/form-data')
    div.form-group
      label(for='image') Image:
      input#image.form-control(type='file', name='image' value=(undefined===post ? '' : post.thumbnail))
    button.btn.btn-primary(type='submit') Submit

    div.form-group
      label(for='name') Title:
      input#title.form-control(type='text', placeholder='name' name='name' required='true' value=(undefined===post ? '' : post.title) )

  if errors
   ul
    for error in errors
     li!= error.msg